Repository Candlemancer/uno, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - client/**/*.spec.js

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
- any: ['client/src/**/*', 'server/**/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
frontend:
- any: ['client/src/**/*.js']
  all: ['!client/src/main.js']

Update labeler to use any/all
  .github/workflows/label.yml
Labels: none

Add jest
  client/.eslintrc.js
  client/coverage/clover.xml
  client/coverage/coverage-final.json
  client/coverage/lcov-report/base.css
  client/coverage/lcov-report/block-navigation.js
  client/coverage/lcov-report/index.html
  client/coverage/lcov-report/prettify.css
  client/coverage/lcov-report/prettify.js
  client/coverage/lcov-report/sort-arrow-sprite.png
  client/coverage/lcov-report/sorter.js
  client/coverage/lcov.info
  client/package-lock.json
  client/package.json
  client/tests/unit/example.spec.js
Labels: test

Add unit tests for Card component
  client/src/components/Card.vue
  client/tests/unit/Card.spec.js
Labels: test

Add in basic support for Vue tests
  client/jest.config.js
  client/package-lock.json
  client/package.json
Labels: none

Update Readme with basic frontend test instructions
  README.md
Labels: repo
